
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
</IfModule>

<IfModule mod_rewrite.c>
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]
</IfModule>


<FilesMatch "config\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<FilesMatch "header\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
<FilesMatch "footer\.php$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

Options -Indexes
ErrorDocument 404 /pemira/404.php
ErrorDocument 403 /pemira/404.php
